<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-permission android:name="android.permission.QUERY_ALL_PACKAGES" />

        <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />

        <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />

        <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />

    <application
        android:allowBackup="true"
        android:label="GamePulse Analyzer"
        android:theme="@style/Theme.GamePulseAnalyzer"
        android:supportsRtl="true">

        <service
            android:name=".GamePulseSessionService"
            android:exported="false"
            android:foregroundServiceType="dataSync" />

        <activity
            android:name=".MainActivity"
            android:exported="true">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>

    </application>

</manifest>
